
* {
  padding: 0;
  margin: 0;
}

a {
  color: rgba(0, 106, 255, 0.7);
}


/* Small screens (Mobile) */
@media (max-width: 600px) {
  body .hideOnMobile {
    display: none;
  }
  body .hideOnTablet {
    display: none;
  }
}

/* Medium screens (Tablet) */
@media (min-width: 601px) and (max-width: 1024px) {
  body .showOnMobile {
    display: none;
  }
  body .hideOnTablet {
    display: none; 
  }
}

/* Large screens (Desktop) */
@media (min-width: 1025px) {
  body .showOnMobile {
    display: none;
  }
  body .showOnTablet {
    display: none;
  }
}

